<div class="list-group">
  <a href="#" class="list-group-item">
    <span class="badge">14</span>
    <i class="glyphicon glyphicon-picture"></i>
    Items
  </a>
  <a href="#" class="list-group-item">
    <span class="badge">1</span>
    <i class="glyphicon glyphicon-th-large"></i>
    Exhibits
  </a>
  <a href="#" class="list-group-item active"><i class="glyphicon glyphicon-cog"></i> Settings</i></a>
</div>
