<%= f.input :copyright, input_html: { class: "honeycomb_redactor" } %>
<h3>Copy and Paste Example</h3>
<hr>
<p><a href="http://www.nd.edu/copyright/">Copyright</a> <%= Date.today.year.to_s %> <a href="http://www.nd.edu">University of Notre Dame</a></p>
