<% breadcrumb :edit_collection, @collection %>
<%- model_class = Collection -%>
<div class="page-header">
  <h1><%=t '.title', :default => ["Edit #{@collection.title.titleize}", :'helpers.titles.edit'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
