<% breadcrumb :collections %>
<%- model_class = Collection -%>
<div class="page-header">
    <div class="pull-right">
      <%= link_to t('.new', :default => t("New Collection")),
              new_collection_path,
              :class => 'btn btn-primary' %>
    </div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
    </tr>
  </thead>
  <tbody>
    <% @collections.where("collections.deleted IS NOT TRUE").each do |collection| %>
      <tr>
        <td><%= link_to collection.title, collection_path(collection) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
