<%- model_class = Collection -%>

<%= simple_form_for @collection, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">New Collection</h3>
    </div>
    <div class="panel-body">
      <%= render :partial => 'form', locals: { f: f } %>
    </div>
    <div class="panel-footer">
      <%= f.button :submit, value: "Save", :class => 'btn-primary' %>
    </div>
  </div>
<% end %>
