<% page_title("Information and Help") %>

<h1>Information and Help</h1>
<div class="jumbotron help">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= image_tag "wse_logo_small.png" %>
    </div>
    <div class="panel-body">
      Honeycomb is the product of a strategic initiative undertaken by the Hesburgh Libraries of Notre Dame,
      and was designed and implemented by the Web and Software Engineering Unit. The W&SE unit is responsible
      for the technical maintenance of the software. If you need a brief tutorial on how to use this software,
      please contact us.
    </div>
    <div class="panel-body">
      <ul>
        <li>
          Jaron Kennel <span class="normal">serves as the strategic initiative team lead.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: jkennel@nd.edu">jkennel@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-0876</span>
            </div>
          </div>
        </li>
        <li>
          Laurie McGowan <span class="normal">who serves as a Sr. Web Systems Consultant,
          can schedule a tutorial session for you.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: lthiel@nd.edu">lthiel@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-4406</span>
            </div>
          </div>
        </li>
        <li>
          Jon Hartzler <span class="normal">serves as the technical lead for the project.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: jhartle@nd.edu">jhartzle@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-9931</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= image_tag "center_for_digital_scholarship.png" %>
    </div>
    <div class="panel-body">
      The Center for Digital Scholarship assists scholars and librarians with digitization efforts,
      and provides guidance on the best use of descriptive metadata for digitally curated content.
      For those who are starting from scratch, the CDS can assist with the initial steps to get physical
      items digitized in the proper way, and can also assist with multimedia projects involving analog
      video and audio in order to get that material into a useable digital format prior to ingest into
      Honeycomb.
    </div>
    <div class="panel-body">
      <ul>
        <li>
          Alexander Papson <span class="normal">serves as the Metadata and Digital Services Librarian in the CDS.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: apapson@nd.edu">apapson@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-3282</span>
            </div>
          </div>
        </li>
        <li>
          Patrick Rader <span class="normal">is a Media Digization Specialist for the CDS, and can assist with digitizing analog audio and video content.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: prader@nd.edu">prader@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-3099</span>
            </div>
          </div>
        </li>
        <li>
          Amanda Gulley <span class="normal">is a Media Digization Specialist for the CDS, and can assist with digitizing print materials.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: agulley@nd.edu">agulley@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-8694</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <%= image_tag "rare.logo.sml.gif" %>
    </div>
    <div class="panel-body">
      The Rare Books and Special Collections department of the Hesburgh Libraries curates
      a large collection of printed books, periodicals, and manuscripts and is commited to
      the preservation of those materials as well as to making them available to the larger
      scholarly audience through the use of digital frameworks such as Honeycomb. The RBSC
      staff are available to assist librarians and teaching faculty in the proper use of
      rare materials for digital venues.
    </div>
    <div class="panel-body">
      <ul>
        <li>
          Natasha Lyandres <span class="normal">serves as the head of the RBSC department.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: nlyandre@nd.edu">nlyandre@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-3009</span>
            </div>
          </div>
        </li>
        <li>
          Sara Weber <span class="normal"> is the Digital Project Specialist for RBSC. She can provide assistance with the digitzation of rare materials.</span>
          <div class="help-contact normal">
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="email"><a href="mailto: sweber@nd.edu">sweber@nd.edu</a></span>
            </div>
            <div class="help-contact-info">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              <span class="phone">631-5610</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= no_back_action_bar('#') %>
