language: ruby
sudo: false
rvm:
  - 2.1.5
before_install:
  - npm install
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate test
  - bundle exec rspec spec
before_script:
  - mysql -e 'create database honeycomb_test'
cache:
  bundler: true
  directories:
  - node_modules
