<div class="nav-panel ">
  <ul class="well">
    <li><a href="<%= admin_administrators_path() %>"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Admin Users</a></li>
    <li><a href="<%= admin_external_collections_path() %>"><i class="glyphicon glyphicon-transfer"></i>&nbsp;&nbsp;External Collections</a></li>
  </ul>
  &nbsp;
  <a href="" id="trig"><span id="switch" class="glyphicon glyphicon-chevron-left"></span></a>
</div>
