
<%= f.input :about, input_html: { class: 'honeycomb_redactor'  } %>

<h3>Copy and Paste Example</h3>
<hr>

<h5>Name of Curator</h5>
<p><em>Title or Position</em><br/>Hesburgh Libraries</p>
<p>p: 124-123-1234<br/>e: name@nd.edu</p>

<hr>
