<% collection_title(@exhibit.collection) %>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Showcases</h3>
      </div>

      <table class="table table-hover">
        <% @exhibit.showcases.each do |showcase| %>
          <tr>
            <td>
              <%= showcase.title %>
            </td>
            <td>
              <%= link_to 'x', showcase_path(showcase), method: :delete, class: "pull-right", data: { confirm:  'Deleting this showcase will remove all the associated sections. Are you sure you want to continue?' }%>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
  <div class="col-md-3">
    Menu ?
  </div>
</div>
