<%= exhibit_title(@exhibit) %>

<div class="pull-right">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_exhibit_path(@exhibit), :class => 'btn btn-default' %>

  <%= link_to t('showcases.new', :default => t("helpers.links.new")),
    new_exhibit_showcase_path(@exhibit), :class => 'btn btn-default' %>
</div>


<div class="row">
  <div class="col-md-12">
    <h2>Showcases</h2>
    <% @exhibit.showcases.each do |showcase| %>
      <p><%= link_to showcase.title, exhibit_showcase_sections_path(@exhibit, showcase) %></p>
    <% end %>
  </div>
</div>
