<%- model_class = User -%>
  <div class="page-header">
      <div class="pull-right">
    <%= link_to 'Add User', new_user_path, class: "btn btn-primary" %>
  </div>
    <h1 class="title">Users</h1>
  </div>
  <table class="table table-striped">
      <thead>
      <tr>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do | user | %>
    <tr>
      <td><%= link_to user.display_name, user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
