<div class="menu-bar default">
  <div class="btn-group">
    <%= back_button(back_path) %>
  </div>
  <div class="pull-right">
    <div class="btn-group">
    <%= learn_more_button(learn_more_path) %>
  </div>
</div>

