<ul class="nav navbar-nav">
  <li class="">
      <div class="btn-group collections"><%= link_to(nav.collection.title, collection_path(nav.collection), class: "btn") %> <button data-toggle="dropdown" class="btn dropdown-toggle btn-primary" type="button"><span class="caret"></span></button>


    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-header"><%= t('collection_top_nav.recent_collections') %></li>
      <% nav.recent_collections.each do | collection | %>
        <li><%= link_to(collection.title, collection_path(collection)) %></li>
      <% end %>
    </ul>
      </div>

  </li>
</ul>
