<div class="nav-panel ">
  <ul class="well">
    <li class="header" role="presentation">Section header</li>
    <li><a href="#"><i class="glyphicon glyphicon-film"></i> Exhibits</a></li>
    <li class="selected"><a href="#"><i class="glyphicon glyphicon-picture"></i> Items</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Currators</a></li>
    <li role="presentation" class="divider"></li>
    <li>Some kind of text area</li>
  </ul>
  &nbsp;
  <a href="#" id="trig"><span id="switch" class="glyphicon glyphicon-chevron-left"></span></a>
</div>
