<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Proceed with caution</h3>
  </div>
  <div class="panel-body">
    <h4 class="">Delete this <%= name %></h4>
    <p class=""><%= message %></p>
    <%= link_to content_tag('span', "Delete this #{name}", class: ''), path, class: "btn btn-small btn-default btn-danger", method: :delete, data: { confirm: 'Deleting this content will remove it from the site permamently. Are you sure you wish to continue?' } %>
  </div>
</div>
