<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('.title', default: 'Proceed with caution') %></h3>
  </div>
  <div class="panel-body">
    <h4 class=""><%= t("#{i18n_key_base}.heading", default: "Delete this #{default_name}") %></h4>
    <p class=""><%= t("#{i18n_key_base}.message", default: "Proceed with caution. This will remove the #{default_name} and all associated data. ") %></p>
    <%= link_to content_tag('span', t("#{i18n_key_base}.heading", default: "Delete this #{default_name}") , class: ''), path, class: "btn btn-small btn-default btn-danger", method: :delete, data: { confirm: "#{t("#{i18n_key_base}.message", default: "Proceed with caution. This will remove the #{default_name} and all associated data. ")} Are you sure you wish to continue?" } %>
  </div>
</div>
