<div class="row">
  <div class="col-md-9">
    <%= f.input :caption, as: :text %>
  </div>

  <div class="col-md-3">
    <%= HoneypotThumbnail.display(f.object.item.honeypot_image) %>
  </div>
</div>


