<% collection_nav(@section_form.collection, :showcases) %>

<h2>New Section</h2>

<%= simple_form_for @section_form.form_url do | f | %>
  <%= render partial: @section_form.form_partial, locals: { f: f } %>
<% end %>
