<div class="menu-bar default">
  <div class="btn-group">
    <%= back_button(collection_pages_path(@page.collection)) %>
  </div>

  <div class="pull-right">
    <div class="btn-group">
      <%= learn_more_button('#') %>
    </div>
  </div>
</div>
