<div class="container">
  <div class="row">
    <div class="span15">
      <h2 style="color:#AD3536;">Server Error</h2>
      <div class="alert alert-error" style="font-size: 15px; margin-top: 25px;">
       The system encountered an error. Please contact a system administrator.
      </div>
    </div>
  </div>
</div>
