<div class="menu-bar default pull-left">
  <div class="btn-group">
    <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('.new', :default => t("Add Showcase"))}"),
          new_collection_showcase_path(collection),
          :class => 'btn btn-primary' %>
  </div>

</div>
<div class="pull-right">
  <div class="btn-group">
    <%= learn_more_button('#') %>
  </div>
</div>
