<div class="menu-bar default">
  <div class="btn-group">
    <%= back_button(collection_showcases_path(@showcase.collection)) %>

  </div>
      <%= link_to("PREVIEW", @showcase.beehive_url, class: "btn btn-large btn-hollow", :target => "_blank") %>

  <div class="btn-group">
    <%= ShowcasePublishAction.display(@showcase) %>
  </div>

  <div class="pull-right">
    <div class="btn-group">
      <%= learn_more_button('#') %>
    </div>
  </div>
</div>
