<div class="menu-bar default">
  <div class="btn-group">
    <%= back_button(exhibit_showcases_path(@showcase.exhibit)) %>
  </div>

  <div class="btn-group">

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-eye-open"></i>  Published
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>Change to </li>
      <li><a href="#">Unpublished</a></li>
    </ul>
  </div>

  <div class="pull-right">
    <div class="btn-group">
      <%= learn_more_button('#') %>
    </div>
  </div>
</div>
