<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('title') %></th>
      <th><%= t('updated_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% showcases.each do |showcase| %>
      <tr>
        <td><%= link_to showcase.title, showcase_path(showcase) %></td>
        <td>
          <%= showcase.updated_at.to_s(:long) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
