<%= collection_title(@exhibit.collection) %>

<div class="row">
  <div class="col-md-12">
    <div class="menu-bar default pull-left">
      <div class="btn-group">
        <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('.new', :default => t("Add Showcase"))}"),
              new_exhibit_showcase_path(@exhibit),
              :class => 'btn btn-primary' %>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% @showcases.each do |showcase| %>
          <tr>
            <td><%= link_to showcase.title, showcase_path(showcase) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
