<%= collection_nav(@exhibit.collection, :showcases) %>

<%= render partial: 'action_bar', locals: { exhibit: @exhibit } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @showcases.each do |showcase| %>
      <tr>
        <td><%= link_to showcase.title, showcase_path(showcase) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
