
<div class="row">
  <div class="col-md-9">
    <div class="pull-right">
      <%= link_to t('.new', :default => t("Add Showcase")),
              new_collection_exhibit_showcase_path(@exhibit.collection, @exhibit),
              :class => 'btn btn-primary' %>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% @showcases.each do |showcase| %>
          <tr>
            <td><%= link_to showcase.title, collection_exhibit_showcase_sections_path(showcase.exhibit.collection, showcase.exhibit, showcase) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">

  </div>
</div>
