<%= collection_nav(@exhibit.collection, :showcases) %>

<%= simple_form_for [@showcase.exhibit, @showcase], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">New Showcase</h3>
    </div>
    <div class="panel-body">
      <%= render partial: 'form', locals: { f: f } %>
    </div>
    <div class="panel-footer">
      <%= f.button :submit, "Save", class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>
