<%= showcase_title(@showcase) %>

<div class="pull-right">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
    edit_exhibit_showcase_path(@exhibit, @showcase), :class => 'btn btn-default' %>
</div>


<div class="row">
  <div class="col-md-12">
    <p><%= link_to t('.sections'), exhibit_showcase_sections_path(@exhibit, @showcase) %></p>
  </div>
</div>
