<div class="menu-bar default pull-left">
  <div class="btn-group">
    <a href="#" class="btn btn-large btn-hollow"><span class="mdi-navigation-arrow-back"></span></a>
  </div>
  <div class="pull-right">
    <div class="btn-group">
    <%= learn_more_button('#') %>
  </div>
</div>
