<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td>
          <%= link_to raw(image_tag(item.image.url, height: 64)), collection_item_path(item.collection, item), class: "pull-left" %></a>
        </td>
        <td>
          <h4 class="media-heading"><%= h item.title %></h4>
          <%= h item.description %>
        </td>
        <td>
          <%= item.updated_at.to_s(:long) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
