  <div class="dropzone">
    <div class="dropzone-previews"></div>
    <div class="dz-default dz-message"><%= t('.dropzone_message_html') %></div>
  </div>
  <div class="fallback">
    <%= f.file_field :image %>
  </div>
