<%- model_class = Item -%>
<%= collection_title(@item.collection, 'Items') %>

<%= @item.page_title %>

<div class="row">
  <div class="col-md-8">
    <%= simple_form_for [@item.collection, @item], html: { :class => "item edit-item-dropzone", id: 'edit-item' } do |f| %>
      <%= render :partial => 'form', locals: { f: f } %>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>

