<%= collection_title(@collection, 'Items') %>

<div class="row">
  <div class="col-md-9">
    <div class="pull-right" style="padding-top: 5px;">
<%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('items.index.new')}"),
        new_collection_item_path(collection),
        :class => 'btn btn-primary', style: "width: 100%" %>
    </div>

    <%= render partial: "list", locals: { items: @items } %>
  </div>
  <div class="col-md-3">
    <%= collection_nav(collection, :items) %>
  </div>
</div>
