<% breadcrumb :collection_items, @collection %>
<%- model_class = Item -%>
<div class="page-header">
  <div class="pull-right">
    <%= link_to t('.new'),
            new_collection_item_path(collection),
            :class => 'btn btn-primary' %>
  </div>
  <h1><%= collection.title.titleize %> »
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render partial: "list", locals: { items: @items } %>
