<%= collection_title(@collection, 'Items') %>

<div class="row">
  <div class="col-md-9">
    <div class="menu-bar">
      <div class="btn-group pull-left">
        <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('items.index.new')}"),
          new_collection_item_path(collection),
          :class => 'btn btn-primary' %>
      </div>
      <div class="table-filter pull-left">

      </div>
    </div>

    <%= render partial: "list", locals: { items: @items } %>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Exhibit</strong></div>
      <div class="panel-body">
        <p>Exhibits are sites dedicated to displaying your collection.</p>
        <p><%= link_to "Goto Exhibit", "#{Waggle::DetermineDomain.call(:beehive)}collections/#{collection.id}" %></p>
      </div>
    </div>
  </div>

</div>
