<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize.pluralize %></h1>
</div>

<section>
<%= simple_form_for @item, html: { :class => "item dropzone" }, url: collection_items_path(@item.collection, @item) do |f| %>
  <%= render :partial => 'form', locals: { f: f } %>
<% end %>
</section>
