.hc-item-show-image-box {
  text-align: center;
  border: 1px solid gray;
  position: relative;

  .hc-thumbnail {
    height: 100%;
    width: 100%;
  }

  .hc-image-zoom-button-outer {
    position: absolute;
    top: 1em;
    right: 1em;
    display: inline-block;
  }
}
