$white: #fff;
$eggshell: #ececec;
$light-grey: #d2d2d2;
$charcoal-grey: #444;
$dark-grey: #777;
$night-grey: #333;
$pale-white: #f5f5f5;
$kelly-green: #0f9d58;
$error: #f44336;

a, a:hover, a:focus {
  color: $blue;
}

.form-group .form-control, .form-group .form-control:focus, .form-group .form-control.focus {
  background-image:
    linear-gradient($blue, $blue),
    linear-gradient($light-grey, $light-grey) !important;
}

.form-group.has-error .form-control, .form-group.has-error .form-control:focus, .form-group.has-error  .form-control.focus {
  background-image:
    linear-gradient($error, $error),
    linear-gradient($light-grey, $light-grey) !important;
}

.panel-heading .pull-right .btn {
  padding: 8px 10px;
  margin: -10px -10px -10px 10px !important;
}

.btn:not(.btn-link):not(.btn-flat), .btn-default:not(.btn-link):not(.btn-flat) {
  color: $blue;
}

.btn-danger:not(.btn-link):not(.btn-flat) {
  color: $white;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  color: $white;
}

.input-group.menu-bar {
  display: inline-block;
  margin: 10px 1px;
  vertical-align: middle;
  width: 300px;

  input {
    border:1px solid $charcoal-grey;
    border-radius: 2px 0 0 2px;
    box-sizing: content-box;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 8px;
    width: 250px;
  }

  input:focus {
    height: 20px !important;
  }

  span {
    float: left;

    .btn.btn-search {
      padding: 8px;
      border-radius: 0 2px 2px 0;
      background: $pale-white;
      border-left: none;
    }
  }
}



fieldset[disabled] .form-control:not(textarea):not(select), .form-control-wrapper .form-control:not(textarea):not(select), .form-control:not(textarea):not(select), fieldset[disabled] .form-control:focus:not(textarea):not(select), .form-control-wrapper .form-control:focus:not(textarea):not(select), .form-control:focus:not(textarea):not(select), fieldset[disabled] .form-control.focus:not(textarea):not(select), .form-control-wrapper .form-control.focus:not(textarea):not(select), .form-control.focus:not(textarea):not(select) {
  height: 20px;
}



fieldset[disabled] .form-control, .form-control-wrapper .form-control, .form-control, fieldset[disabled] .form-control:focus, .form-control-wrapper .form-control:focus, .form-control:focus, fieldset[disabled] .form-control.focus, .form-control-wrapper .form-control.focus, .form-control.focus {
  padding: 10px 18px 10px 18px;
  box-shadow:
    inset 0 0 5px rgba(0,0,0,0.1),
    inset 0 3px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  color: $dark-grey;
  height: auto !important;
}

div.dataTables_filter {
  display: none;
}

.panel {
  clear: both;
}

.alert-info {
  background-color: $kelly-green;
  border-radius: 5px;
}

.nav-edit {
  background-color: $eggshell;

  a {
    color: $night-grey;
  }

  .active {
    background: $white;
  }
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: $night-grey !important;
}

.togglebutton label {
  input[type=checkbox]:first-child:checked+.toggle {
    background-color: rgba(80, 80, 80, 0.7);
  }

  font-weight: 300;
}

.btn-group {
  box-shadow: none;
}
