a, a:hover, a:focus {
	color:$blue;
}


.form-control, .form-control:focus, .form-control.focus {
	background-image: linear-gradient($blue, $blue), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.panel-heading .pull-right .btn {
	padding:8px 10px;
		margin:-10px -10px -10px 10px !important;
}

.btn:not(.btn-link):not(.btn-flat), .btn-default:not(.btn-link):not(.btn-flat) {
	color:$blue;
}

.btn-danger:not(.btn-link):not(.btn-flat) {
	color:#fff;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
	color:#fff;
}

.input-group.menu-bar {
	display: inline-block;
	width: 350px;
	vertical-align: middle;
	margin: 10px 1px;
	input {
		width: 70%;
		float: left;
		border-radius: 2px 0 0 2px;
		border:1px solid #444;
		padding:8px;
		font-size: 14px;
		line-height: 20px;
		box-sizing:content-box;
		height: 20px;
	}
	input:focus {
		height: 20px !important;
	}
	span {
		float: left;
		width: 20%;
		.btn.btn-search {
			padding: 8px;
			border-radius: 0 2px 2px 0;
			background:#f5f5f5;
			border-left: none;
		}
	}
}



fieldset[disabled] .form-control:not(textarea):not(select), .form-control-wrapper .form-control:not(textarea):not(select), .form-control:not(textarea):not(select), fieldset[disabled] .form-control:focus:not(textarea):not(select), .form-control-wrapper .form-control:focus:not(textarea):not(select), .form-control:focus:not(textarea):not(select), fieldset[disabled] .form-control.focus:not(textarea):not(select), .form-control-wrapper .form-control.focus:not(textarea):not(select), .form-control.focus:not(textarea):not(select) {
	height: 20px;
}

	

fieldset[disabled] .form-control, .form-control-wrapper .form-control, .form-control, fieldset[disabled] .form-control:focus, .form-control-wrapper .form-control:focus, .form-control:focus, fieldset[disabled] .form-control.focus, .form-control-wrapper .form-control.focus, .form-control.focus {	
	padding: 10px 18px 10px 18px;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 5px;
    color: #777;
    height:auto !important;
}

div.dataTables_filter {
	display: none;
}

.panel {
	clear: both;
}

.alert-info {
	background-color:#0f9d58;
	border-radius: 5px;
}

.nav-edit {
	background-color: #ececec;
	a {
		color:#333;
	}
	.active {
		background: #fff;
	}
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color:#333 !important;
}

.togglebutton label input[type=checkbox]:first-child:checked+.toggle {
  background-color: rgba(80, 80, 80, 0.7);
}

.togglebutton label {
	font-weight: 300;
}
