div.dataTables_filter label {
  margin-bottom: 0;
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-left: 1px solid gray ;
  height: 34px;
}

div.dataTables_filter {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 19px;
}
