


.dropzone {

  .dz-preview.dz-success .dz-success-mark {
    opacity: 1;
    -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }

  .dz-success .dz-progress {
    display: none;
  }

  .dz-error .dz-progress {
    display: none;
  }

  .dz-success .dz-remove {
    display: none;
  }
}
