light-grey: #d4d4d4;

#external-collections-table {
  clear: left;
  font-size: 18px;
  margin-top: 20px;
  width: 90%;

  td {
    padding: 20px;
    vertical-align: middle;
  }

  img {
    border: 2px solid $ligh-grey;
  }
}

.honeypot-image {
  margin-bottom: 20px;
}
