.item-list {
  .hc-thumbnail {
    height: 64px;
    width: 100px;
  }
}

.item-show-children {
  margin-bottom: 10px;
}

.item-show-image {
  img {
    max-width: 100%;
  }
}

.item-show-image-box {
  text-align: center;
  border: 1px solid gray;
  position: relative;

  .image-zoom-fullscreen {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}
