.item-list {
  td.image {
    width: 50px;
    vertical-align: top;
  }
  td.edit {
    width: 25px;
    text-align: center;
    vertical-align: middle;
  }
  .hc-thumbnail {
    height: 64px;
    width: 50px;
  }

  .hc-thumbnail-image {
    padding: 4px;
    line-height: 1.42857143;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.item-show-children {
  margin-bottom: 10px;
}

.item-show-image {
  img {
    max-width: 100%;
  }
}

.item-show-image-box {
  text-align: center;
  border: 1px solid gray;
  position: relative;

  .hc-thumbnail {
    height: 200px;
    width: 200px;
  }

  .image-zoom-fullscreen {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}
