#user_search_tool {
  margin: 20px;
}

div#selected_user label {
  margin-right: 5px;
  vertical-align: middle;
}

#add_curator {
  margin-left: 5px;
}

.remove_curator {
  color: gray;
  margin-right: 2em;
}

div#other_collection_info {
  margin-top: 20px;
}

div.collection_info {
  padding: 20px;
}

table.curator-list tr td {
  padding-top: 1em;
  padding-bottom: 1em;
}
