@mixin transition() {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow: hidden;
}

@mixin grab() {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

@mixin grabbing() {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.section-container {
  @include grab();
}

.section-delete {
  position: absolute;
  background: gray;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  z-index: 1;
  display: none;
}

.add-items-content {
  width: 100%;
  height: 160px;
  border: 1px solid #bed5cd;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 14px;
}

.add-items-content-inner {
  width: 100000px;
}

.add-items-content-inner div {
  float: left;
  display: inline;
}

.add-items-content img {
  height: 100px;
  margin: 5px;
}
.add-items-title {
  margin-right: 5px;
}

.drag {
  border: solid;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
  cursor: grab;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  @include grab();
}

.section .drag {
  height: 115px;
}

.drag.dragging {
  z-index: 1;
  pointer-events: none;
  @include grabbing();
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.image-caption-editor-toggle {
  cursor: pointer;
}

$green: #b0de6b;
$blue: #76c9de;
$dark-gray: #948f8f;
$light-gray: #dddddd;

* {
  box-sizing: border-box;
}

.super-large-icon {
  font-size: 10em;
}
.center {
  width: 100%;
  display: block;
  text-align: center;
}
.small-image-dragging {
  max-height: 100px;
  margin: 5px;
}
.small-text-dragging {
  margin: 5px;
  padding: 4px;
  max-width: 100px;
  max-height: 100px;
  font-size: 4px;
  color: black;
  background-color: white;
  overflow: hidden;
  h4 {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
}
